#contact {
    text-align: center;
    scroll-margin-top: 10vh;
}

#contact form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 15px 0;
}

#contact form * {
    margin: 10px 0;
}

::placeholder {
    color: #FFB703;
}

#contact input, #contact textarea {
    font-family: 'Inter', sans-serif;
    color: white;
    border-bottom: 1px solid #70A288;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}

#contact textarea {
    height: 100px;
}

#contact button {
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    text-decoration: none;
    color: black;
    border: 1px solid #FFB703;
    background-color: #FFB703;
    margin: 20px;
}