#landing {
    padding-top: 3%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    min-height: 90vh;
    scroll-margin-top: 10vh;
}

.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

#landing h1 {
    font-size: 2.5em;
    font-weight: 300;
    margin: 5% 0;
}

#landing h3 {
    font-weight: 300;
    font-size: 1.25em;
    margin-bottom: 7.5%;
}

.landing-links {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10%;
    justify-content: center;
}

.landing-links a {
    font-size: 1.3rem;
    margin: 2% 10px;
    text-decoration: none;
    color: black;
    border: 1px solid #FFB703;
    border-radius: 5px;
    background-color: #FFB703;
    padding: 2%;
}

.landing-icons {
    margin: 7.5% 0;
    display: flex;
    justify-content: center;
}

.landing-icon {
    color: #FFB703;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 0 15px;
    border-radius: 5px;
    padding: 5px;
}

.landing-arrows {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.last-arrow {
    margin: 5px 0 10px 0;
}

@media screen and (max-width: 300px) {
    #landing h1 {
        font-size: 2em;
    }
    
    #landing h3 {
        font-size: 1em;
    }

    .landing-links a {
        font-size: 1rem;
    }
}

@media screen and (max-height: 800px) {
    .middle-arrow, .last-arrow {
        display: none;
    }
    .first-arrow {
        padding-bottom: 1%;
    }
}

@media screen and (max-height: 675px) and (max-width: 540px) {
    .profile-pic {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-height: 600px) and (max-width: 540px) {
    .profile-pic {
        width: 150px;
        height: 150px;
    }

    #landing h1 {
        font-size: 2em;
        font-weight: 300;
        margin: 5% 0;
    }
    
    #landing h3 {
        font-weight: 300;
        font-size: 1em;
        margin-bottom: 7.5%;
    }

    .landing-links a {
        font-size: 1rem;
        margin: 0 10px;
    }

    .landing-icon {
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 540px) {
    .middle-arrow, .last-arrow {
        display: none;
    }
}

@media screen and (min-width: 740px) {
    #landing {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr repeat(6, 100px) 1fr;
        text-align: center;
        padding: 0 10%;
    }

    .top-left {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .center-left {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        align-self: flex-start;
    }

    .bottom-left {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .top-right {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 6;
    }

    .bottom-right {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .landing-icons {
        margin: auto;
    }

    .landing-arrows {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 8;
    }

    .middle-arrow, .last-arrow {
        display: none;
    }
}