header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
}

nav {
    display: flex;
    justify-content: space-around;
    height: 9vh;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
}

.nav-bar-line {
    border-bottom: 3px #FFB703 solid;
    width: 90vw;
    margin: 0 5%;
    position: absolute;
    bottom: 0;
}