header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 10px 0;
}

nav a {
    text-decoration: none;
    color: white
}

.nav-bar-line {
    border-bottom: 3px #FFB703 solid;
    margin: 0 5%;
}