#projects {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 30px 0;
    line-height: 1.5;
    scroll-margin-top: 12vh;
}

#projects * {
    max-width: 1000px;
}

.project-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}