.app-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    max-width: 1000px;
    width: 100%;
}